blockquote {
  margin: 0;
}

a {
  color: white;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 27, 30);
  width: 100vw;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px 150px;
  grid-template-rows: 75px 600px 125px 40px;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.grid-item-1 {
  border-radius: 55px 0 0 0;
  grid-row: 1;
  grid-column: 1 / 2;
}

.grid-item-2 {
  border-radius: 0 55px 0 0;
  grid-row: 1;
  grid-column: 2;
}

.grid-item-3 {
  grid-row: 2;
  grid-column: 1 / 3;
}

.grid-item-4 {
  border-radius: 0 0 55px 55px;
  grid-row: 3;
  grid-column: 1 / 3;
}

.grid-item-5 {
  grid-row: 4;
  grid-column: 1 / 3;
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4 {
  display: flex;
  background-color: rgb(48, 48, 58);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.grid-item-1 h1 {
  font-size: 2rem;
  margin-left: 15px;
}

.grid-item-2 svg {
  width: 60px;
  height: 60px;
  color: rgb(28, 27, 30);
  margin-right: 15px;
}

.grid-item-2 svg:hover {
  color: white;
  cursor: pointer;
  transition: color 1.5s ease;
}

.grid-item-3 img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 15px;
}

.grid-item-4 p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 45ch;
}

.grid-item-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.grid-item-5 div {
  font-size: 12px;
  line-height: 1.5;
  max-width: 45ch;
}
